<form class="form-signin">
      <div class="text-center mb-4">
        <img class="mb-4" src="img/PUAH-Logo-Square.jpg" alt="PUAH logo" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">about us &#60;/&#62; by us</h1>
        <p>If you have not received administrative access, please contact <code>Shweta Moorthy</code> at <a href="http://www.coalitioncommunitiescolor.org/">Coalition for Communities of Color</a>.</p>
      </div>

      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password">
        <label for="inputPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="admin">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy;2018 Portland United Against Hate</p>
    </form>
