<section class="jumbotron bg-light text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Helping Portland heal from hate</h1>
    <p class="lead text-muted">Connect with organizations across Potland who are helping communities heal from and prevent hate crimes.</p>
    <form id="resource-search">
      <div class="form-row">
          <div class="col">
            <label for="identities"> I am </label>
            <select class="form-control" id="identities">
              <option value="" disabled selected hidden>(All that apply)</option>
              <option value="african american">African American</option>
              <option value="african">African</option>
              <option value="asian">Asian</option>
              <option value="south asian">South Asian</option>
              <option value="pacific islander">Hawaiian/Pacific Islander</option>
              <option value="latinx">Latino/a/x</option>
              <option value="native american">Native American</option>
              <option value="middle eastern">Middle Eastern</option>
              <option value="white">White/European</option>
              <option value="lgbtqia">LGBTQIA</option>
              <option value="female">Cis-gendered woman</option>
              <option value="youth">Youth</option>
              <option value="homeless">Homeless</option>
              <option value="white">White/European</option>
            </select>
          </div>
          <div class="col">
            <label for="">Looking for</label>
            <select class="form-control" id="genre" type="text">
              <option value="" disabled selected hidden>(All that apply)</option>
              <option value="immigration">Immigration system support</option>
              <option value="legal">Legal assistance</option>
              <option value="action">Advocacy & community action opportunities</option>
              <option value="language">Language services</option>
              <option value="healthcare">Counseling &amp; health services</option>
              <option value="gatherings">Support groups &amp; community gatherings</option>
              <option value="education">Educational resources</option>
              <option value="trainings">Trainings &amp; leadership development</option>
              <option value="financial">Financial assistance</option>
              <option value="housing">Housing assistance</option>
              <option value="safe space">Safe spaces</option>
            </select>
          </div>
          <div class="col">
            <label for="area">In</label>
            <select class="form-control" id="area">
              <option value="all areas">All Areas</option>
              <option value="north">North Portland (west of I-5)</option>
              <option value="northeast-west">Northeast Portland (west of I-205)</option>
              <option value="northeast-east">Northeast Portland (east of I-205)</option>
              <option value="southeast-west">Southeast Portland (west of I-205)</option>
              <option value="southeast-east">Southeast Portland (east of I-205)</option>
              <option value="downtown">Downtown Portland (inside I-405 loop)</option>
              <option value="northwest">Northwest Portland (outside of I-405 loop)</option>
              <option value="southwest">Southwest (outside of I-405 loop)</option>
            </select>
          </div>
          <button class="btn btn-block btn-info" id="filter-button">Find Resources</button>
      </div>
    </form>
  </div>
</section>
