<div class="row">
  <div class="col-md-5 card">
    <div class="card-body">
      <h2 class="card-title">Resources</h2>
      <ul class="list-group">
        <li class="list-group-item resource"
        *ngFor="let resource of resources"
        (click)="selectResource(resource)"
        [class.active]="resource === selectedResource">
        {{resource.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewResource()">New</button>
    </div>
  </div>
    <contact-details
      [resource]="selectedResource"
      [createHandler]="addResource"
      [updateHandler]="updateResource"
      [deleteHandler]="deleteResource">
    </contact-details>
</div>
