<div class="row">
  <div class="col-md-5">
    <h2>Resources</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let resource of resources"
        (click)="selectResource(resource)"
        [class.active]="resource === selectedResource">
        {{resource.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewResource()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <contact-details
      [resource]="selectedResource"
      [createHandler]="addResource"
      [updateHandler]="updateResource"
      [deleteHandler]="deleteResource">
    </contact-details>
  </div>
</div>
